This notebook is just a tiny sample of what can be done with Pandas. It is strongly recommended to consult the official documentation.

In [ ]:
#import numpy and pandas
import numpy as np
import pandas as pd

### Series

In [ ]:
# create a Series object
# several options are available as input argument (see official documentation)
my_series = pd.Series(data=np.random.randint(1,10,9))
# my_series is an object of Series which two columns: labels and values
print(my_series)

In [ ]:
# operations
my_series2 = pd.Series(data=np.random.randint(1,10,8))
print(my_series2)

# determine which elements are greater than 4
print(my_series > 4)

# put those elements equal to 2
my_series[my_series > 4] = 2
print(my_series)

# sum of values: values of the same labels are added together while values of non-common labels are set as nan
print(my_series+my_series2)

### DataFrames

In [ ]:
# A dataframe is like a table, where each row and column are labelled
# In fact, each column is a Series object
df = pd.DataFrame(data=np.random.rand(2,3),index=['rowA','rowB'],columns=['column1','column2','column3'])
print(df)
print(type(df))
print(type(df['column1']))

In [ ]:
# add a new column
df['column4'] = [2,3]
df

In [ ]:
# drop a column
# return a new DataFrame
print(df.drop(['column1','column3'],axis=1))
print(df)
# changes the current DataFrame
df.drop(['column1','column3'],axis=1,inplace=True)
print(df)

In [ ]:
# drop a row
df = pd.DataFrame(data=np.random.rand(4,3),index=['rowA','rowB','rowC','rowD'],columns=['column1','column2','column3'])
print(df)
df.drop(['rowA','rowC'],axis=0,inplace=True)
print(df)

In [ ]:
# return a column
df['column1']

In [ ]:
# return a row by its index
df.loc['rowD']

In [ ]:
# return a row by its position
df.iloc[0]

In [ ]:
# return a new df indicating which positions satisfy a condition
print(df)
print(df > 0.5)

In [ ]:
# Return the True values of a condition
# & and | must be used instead of "and" and "or"
df[(df > 0.5) & (df < 0.65)]

In [ ]:
# Include the index as a column and reset the index
df.reset_index(inplace=True)
print(df)

In [ ]:
# convert a column to the index
df.set_index('index',inplace=True)
print(df)